{% load activos_extras %}

{% if is_paginated %}
<div class="card-footer bg-white border-top-0 py-3">
    <nav aria-label="Navegación de página">
        <ul class="pagination justify-content-center mb-0">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% query_transform page=page_obj.previous_page_number %}"
                    aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link text-dark fw-bold">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% query_transform page=page_obj.next_page_number %}"
                    aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}